@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


/* CSS変数の設定 */
:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --footer-bg: #fffacd;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* 独自ユーティリティの追加 */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  background-color: #ffffe0; /* クリーム色 */
}

.toc {
  margin-bottom: 2rem;
  padding: 1rem;
  border: 1px solid #ddd;
  background-color: #ffffe0;
  border-radius: 8px;
}

.toc h2 {
  color: inherit; /* 親要素の色を継承 */
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.toc ul {
  list-style: none;
  padding-left: 0;
}

.toc li {
  margin-bottom: 0.5rem;
}

.toc a {
  color: #696969;
  text-decoration: none;
}

.toc a:hover {
  text-decoration: underline;
}
